<!--<div class="container d-flex flex-column">
  <p class="display-3 align-self-start">Projects</p>
  <div class="flex-grow-1 projects-container">
    <div id="first-project">
      <p class="title display-6">First project</p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum aliquam
        voluptate nobis perferendis non consectetur ab doloremque cumque
        adipisci, autem molestias deleniti ducimus natus praesentium velit eum
        atque alias officiis?,<span><a href="https://github.com/Lucaceres/ProyectoFinal" target="_blank">click aqui</a></span>
      </p>
      
      
    </div>
  </div>
</div>
-->
<div class="container d-flex flex-column justify-content-center">
  <div>
  <button type="button" class="btn btn-outline-dark me-2" routerLink="/nuevoproyecto">Nuevo Proyecto</button>
</div>

  <ul>
    
    <li *ngFor="let proyecto of proyectos">
     <div class="d-flex">
      <p class="display-1">{{proyecto.titulo}}</p>
      <button class="btn btn-secondary" routerLink="/proyectoedit/{{proyecto.id}}"><i class="bi bi-pen-fill"></i>
        EDITAR
      </button>
        
        <button class="modifier btn btn-danger" (click)="delete(proyecto.id)"><i class="bi bi-trash-fill"></i>BORRAR</button>
    </div>
    
      
      <p class="fs-5">
        {{proyecto.descripcion}}
      </p>
<!--todo-->
      <a href={{proyecto.link}}>
        {{proyecto.link}}
    </a>
    </li>
  </ul>
  
   
</div>