<div class="container d-flex flex-column">
  <p class="display-3 align-self-start">Projects</p>
  <div class="flex-grow-1 projects-container">
    <div id="first-project">
      <p class="title display-6">First project</p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum aliquam
        voluptate nobis perferendis non consectetur ab doloremque cumque
        adipisci, autem molestias deleniti ducimus natus praesentium velit eum
        atque alias officiis?,<span><a href="https://github.com/Lucaceres/ProyectoFinal" target="_blank">click aqui</a></span>
      </p>
      
      
    </div>
  </div>
</div>
