<div class="container d-flex justify-content-center align-items-center">
  <div class="info-card ">
    <img src="../../../assets/foto.jpg" alt="Foto" class="mi-cara img-fluid" />
    <div class="info">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Dveloper Jr</p>
    </div>
  </div>

  <div class="about">
    <p class="display-3">Acerca de mí</p>
    <p class="fs-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ea
      voluptates delectus quae quo, libero ullam illo nisi, sunt ipsa rem
      laborum, debitis officiis consequatur ad voluptate voluptatem accusantium
      
    </p>
  </div>
</div>
