<!--
<div class="container d-flex flex-column justify-content-center">
  <ul>
    <li>
      <p class="display-3">Secundario</p>
      <p class="display-6">(2011-2018)</p>
      <p class="fs-5">
        Secundario tecnico, con titulo final de Tecnico Electromecanico.
      </p>
    </li>
    <li>
        <p class="display-3">Carrera de grado</p>
        <p class="display-6">(En curso)</p>
        <p class="fs-5">
          Carrera: Ingenieria en sistemas de informacion.
        </p>
      </li>
      <li>
       <a ><p class="display-3">Curso: Se Programar</p></a>
        <p class="fs-5">
          Primera etapa de Argentina Programa.
        </p>
        <p class="fs-5">
            <a href="https://mumuki.io/argentina-programa/certificates/verify/rvdwNiMFT3vBEN11" target="_blank">certificado aqui</a>
            
        </p>
      </li>
  </ul>
</div>
-->
<div class="container d-flex flex-column justify-content-center">
  <div>
  <button *ngIf="isAdmin" type="button" class="btn btn-outline-dark me-2" routerLink="/nuevaeducacion">Agregar Educacion</button>
</div>

  <ul>
    
    <li *ngFor="let educacion of educaciones">
     <div class="d-flex">
      <p class="display-1">{{educacion.grado}}</p>
      <button *ngIf="isAdmin" class="btn btn-secondary" routerLink="/editeducacion/{{educacion.id}}"><i class="bi bi-pen-fill"></i>
        EDITAR
      </button>
        
        <button *ngIf="isAdmin" class="modifier btn btn-danger" (click)="delete(educacion.id)"><i class="bi bi-trash-fill"></i>BORRAR</button>
    </div>
    
      
      <p class="fs-5">
        ({{educacion.anioInicio}}-{{educacion.anioFin}})
      </p>

      <p class="fs-5">
        {{educacion.descripcion}}
      </p>
    </li>
  </ul>
  
   
</div>
