<div
  class="container d-flex flex-column justify-content-evenly align-items-center"
>
  <div class="first=-row d-flex">
    <circle-progress
      [imageSrc]="'/assets/logos/HTML-icon.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [percent]="75"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
    ></circle-progress>

    <circle-progress
      [imageSrc]="'/assets/logos/css-color-icon.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [percent]="65"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'CSS'"
    ></circle-progress>

    <circle-progress
      [imageSrc]="'/assets/logos/js-icon.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [percent]="55"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'JavaScript'"
    ></circle-progress>
  </div>
  <div class="second-row d-flex">
    <circle-progress
    [imageSrc]="'/assets/logos/teamwork.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Trabajo en equipo'"
    ></circle-progress>

    <circle-progress
    [imageSrc]="'/assets/logos/talk.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Comunicacion'"
    ></circle-progress>
    <circle-progress
    [imageSrc]="'/assets/logos/creativity.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [percent]="80"
      [radius]="100"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'Creatividad'"
    ></circle-progress>
  </div>
</div>
